<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "jyproject" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=1234;Database=jyproject"/>
		<add name = "jyproject2" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=1234;Database=sample"/>
		<add name ="realproject" connectionString ="Server=anypoint.iptime.org;Port=13306;Uid=goodee06;Pwd=goodee06$$;Database=goodee06"/>
	</connectionStrings>
	<appSettings>
		<add key="uploadPath" value="../../Images"/>
		<add key="splashTime" value="2000"/>
		<add key="zipAPIKey" value="devU01TX0FVVEgyMDIyMTEyMzExMzM1OTExMzI1MDg="/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>